<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ziwei Liu Prebiotic Chemist</title>

    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E661B84JVL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-E661B84JVL');
    </script>

    <link rel="stylesheet" href="/layouts/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/layouts/loader.js" defer></script>
</head>
<body>
    <div id="header-placeholder"></div>

    <div class="main-wrapper">
    
        <div class="sidebar">

            <div id="sidebar-placeholder"></div>
            
        </div>
    
        <div class="content">

            <h2>About Me</h2>
            <p class="longpara">
                Why is there life at all? This is the question that drives my work at Cambridge. My work explores how simple molecules behave under differnet conditions — such as those found on early Earth or other planets — and how these processes may have contributed to the origins of life.
            </p>
            <p class="longpara">
                My career has taken me across several countries and research cultures. I have worked in the UK, France, and China, including six years at the MRC Laboratory of Molecular Biology in Cambridge and a three-year fellowship supported by the Simons Foundation in Montpellier. These experiences have shaped my interest in interdisciplinary research, combining physics, chemistry, and biology to address some of the most fundamental questions about life in the universe.
            </p>
            <p class="longpara">    
                I earned my PhD in chemistry from Jilin University, where I began studying chemical reactions under hydrothermal conditions. Since then, I have published more than 30 scientific papers and my work has been widely cited by researchers around the world.
            </p>
            <p class="longpara">
                Beyond research, I enjoy teaching and mentoring students at different stages of their careers. I currently give lectures at the University of Cambridge and co-supervise undergraduate and graduate students. I am also involved in organizing scientific meetings and supporting collaborative research communities.
            </p>
            <p class="longpara">
                At heart, I am motivated by curiosity—about where life comes from, how complex systems emerge, and how chemistry connects our planet to the wider universe.
            </p>
            
            <div id="footnote-placeholder"></div> 
        </div>    
    </div>
</body>
</html>
