<!DOCTYPE html>
<html lang="en">
<div id="head-placeholder"></div>
<body>
    <div id="header-placeholder"></div>

    <div class="main-wrapper">

        <div class="sidebar">

            <div id="sidebar-placeholder"></div>
            
        </div>  
        
        <div class="content">

            <h2>Cover Arts</h2>
<!-- <p>In the following list, publications with corresponding authorship are marked with an asterisk (*); publications with co-first authorship are marked with an double dagger (&Dagger;).</p> -->


<ul class="aligned-list" id="publication-list">
    <div class="year-separator">2021</div>
    <li>
        <span class="list-number"></span>
        <div class="publication-content">
            <span class="title">
                <a href="https://www.nature.com/articles/s41557-021-00789-w">Not accepted Cover Art for "Prebiotic photoredox synthesis from carbon dioxide and sulfite" </a>
            </span>
            
            <span class="art-container">
                <img src="/arts/NatChem2021.jpg" alt="Cover Art 2021" class="cover-art-img">
            </span>
        </div>
    </li>
    <div class="year-separator">2020</div>
    <li>
        <span class="list-number"></span>
        <div class="publication-content">
            <span class="title">
                <a href="https://www.nature.com/collections/jadebhfbhb">Cover Picture for Focus "Prebiotic chemistry" </a>
            </span>
            
            <span class="art-container">
                <img src="/arts/NatChem2020.jpg" alt="Cover Art 2020" class="cover-art-img">
            </span>
        </div>
    </li>

    <div class="year-separator">2018</div>
    <li>
        <span class="list-number"></span>
        <div class="publication-content">
            <span class="title">
                <a href="https://pubs.rsc.org/en/content/articlelanding/2018/sc/c8sc90180e">Inside Cover for "Tuning the reactivity of nitriles using Cu (II) catalysis-potentially prebiotic activation of nucleotides"</a>
            </span>
            
            <span class="art-container">
                <img src="/arts/ChemSci.jpg" alt="Inside Cover Art 2018" class="cover-art-img">
            </span>
        </div>
    </li>
    <div class="year-separator">2016</div>
    <li>
        <span class="list-number"></span>
        <div class="publication-content">
            <span class="title">
                <a href="https://chemistry-europe.onlinelibrary.wiley.com/doi/10.1002/chem.201603523">Inside Cover for "Mixed Anhydride Intermediates in the Reaction of 5(4H)-Oxazolones with Phosphate Esters and Nucleotides"</a>
            </span>
            
            <span class="art-container">
                <img src="/arts/ChemEurJ.tif" alt="Inside Cover Art 2016" class="cover-art-img">
            </span>
        </div>
    </li>
         

            <hr>
            <div id="footnote-placeholder"></div>
        </div>
        
    </div>
<script src="/layouts/loader.js"></script> 
</body>
</html>
