<!DOCTYPE html>
<html lang="en">
<div id="head-placeholder"></div>
<body>
    <div id="header-placeholder"></div>

    <div class="main-wrapper">

        <div class="sidebar">

            <div id="sidebar-placeholder"></div>
            
        </div>  
        
        <div class="content">

            <h2>Publications</h2>

            <p>In the following list, publications with corresponding authorship are marked with an asterisk (*); publications with co-first authorship are marked with an double dagger (&Dagger;).
            </p>


            <ul class="aligned-list" id="publication-list">
                <div class="year-separator collapsed-header" data-year="publications-2025">2025</div>
                <div class="publication-group collapsed" id="publications-2025">    
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Precipitation kinetics and C isotope fractionation of rhodochrosite at 298.15 K</span>
                        <span class="details">C Z Jiang, <strong><u>Z Liu</u></strong>, N J Tosca
                        <br>Geochimica et Cosmochimica Acta</span>
                        <span class="details">
                            <!-- <a href="/publications/2024 White et al ACS Earth Space Chem.pdf">PDF</a> |  -->
                            <a href="https://www.sciencedirect.com/science/article/pii/S0016703725006738">Web</a>
                        </span>
                    </div>
                </li>
                </div>
                <div class="year-separator collapsed-header" data-year="publications-2020-2024">2020-2024</div>
                <div class="publication-group collapsed" id="publications-2020-2024">       
                    <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Shedding Light on the Kinetics of the Carboxysulfitic Scenario</span>
                        <span class="details">S B White, P B Rimmer, <strong><u>Z Liu</u></strong>
                        <br>ACS Earth and Space Chemistry 8 (11), 2133-2144, 2024</span>
                        <span class="details">
                            <a href="/publications/2024 White et al ACS Earth Space Chem.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/acsearthspacechem.4c00083">Web</a>
                        </span>
                    </div>
                </li>

                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Prebiotic chiral transfer from self-aminoacylating ribozymes may favor either handedness</span>
                        <span class="details">J Kenchel, A Vázquez-Salazar, R Wells, K Brunton, E Janzen, K M Schultz, <strong><u>Z Liu</u></strong>, W Li, E T Parker, J P Dworkin, I A Chen
                        <br>Nature Communications 15 (1), 7980, 2024</span>
                        <span class="details">
                            <a href="/publications/2024 Kenchel et al Nat Commun.pdf">PDF</a> | 
                            <a href="https://www.nature.com/articles/s41467-024-52362-x">Web</a>
                        </span>
                    </div>
                </li>

                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Manganese (II) promotes prebiotically plausible non-enzymatic RNA ligation reactions</span>
                        <span class="details"><strong>Z Liu*</strong>, C Z Jiang, A D Bond, N J Tosca, J D Sutherland
                        <br>Chemical Communications 60 (51), 6528-6531, 2024</span>
                        <span class="details">
                            <a href="/publications/2024 ChemCommun.pdf">PDF</a> | 
                            <a href="https://pubs.rsc.org/en/content/articlelanding/2024/cc/d4cc01086h">Web</a>
                        </span>
                    </div>
                </li>     
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Triplet-encoded prebiotic RNA aminoacylation</span>
                        <span class="details">M Su, C Schmitt, <strong><u>Z Liu</u></strong>, S J Roberts, K C Liu, K Roder, A Jäschke, D J Wales, J D Sutherland
                        <br>Journal of the American Chemical Society 145 (29), 15971-15980, 2023</span>
                        <span class="details">
                            <a href="/publications/2023 Su et al JACS.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/jacs.3c03931">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Origin of biological homochirality by crystallization of an RNA precursor on a magnetic surface</span>
                        <span class="details">S F Ozturk, <strong><u>Z Liu</u></strong>, J D Sutherland, D D Sasselov
                        <br>Science advances 9 (23), eadg8274</span>
                        <span class="details">
                            <a href="/publications/2023 Ozturk et al Sci Adv.pdf">PDF</a> | 
                            <a href="https://www.science.org/doi/full/10.1126/sciadv.adg8274">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Template-free assembly of functional RNAs by loop-closing ligation</span>
                        <span class="details">LF Wu, <strong><u>Z Liu</u></strong>, SJ Roberts, M Su, JW Szostak, JD Sutherland
                        <br>Journal of the American Chemical Society 144 (30), 13920-13927</span>
                        <span class="details">
                            <a href="/publications/2022 Wu et al JACS.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/jacs.2c05601">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Emergent properties as by-products of prebiotic evolution of aminoacylation ribozymes</span>
                        <span class="details">E Janzen, Y Shen, A Vázquez-Salazar, <strong><u>Z Liu</u></strong>, C Blanco, J Kenchel, I A Chen
                        <br>Nature Communications 13 (1), 3631</span>
                        <span class="details">
                            <a href="/publications/2022 Janzen et al Nat Commun">PDF</a> | 
                            <a href="https://www.nature.com/articles/s41467-022-31387-0">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Potentially prebiotic synthesis of aminoacyl-RNA via a bridging phosphoramidate-ester intermediate</span>
                        <span class="details">S J Roberts &Dagger;, <strong><u>Z Liu</u></strong> &Dagger;, J D Sutherland 
                        <br>Journal of the American Chemical Society 144 (9), 4254-4259</span>
                        <span class="details">
                            <a href="/publications/2022 JACS.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/jacs.2c00772">Web</a>
                        </span>
                    </div>
                </li>   
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Prebiotic photochemical coproduction of purine ribo-and deoxyribonucleosides</span>
                        <span class="details">J Xu, N J Green, D A Russell, <strong><u>Z Liu</u></strong>, J D Sutherland 
                        <br>Journal of the American Chemical Society 143 (36), 14482-14486</span>
                        <span class="details">
                            <a href="/publications/2021 Xu et al JACS.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/jacs.1c07403">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Interstrand aminoacyl transfer in a tRNA acceptor stem-overhang mimic</span>
                        <span class="details">LF Wu, M Su, <strong><u>Z Liu</u></strong>, S J Bjork, J D Sutherland 
                        <br>Journal of the American Chemical Society 143 (30), 11836-11842</span>
                        <span class="details">
                            <a href="/publications/2021 Wu et al JACS.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/jacs.1c05746">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Encapsulation of ribozymes inside model protocells leads to faster evolutionary adaptation</span>
                        <span class="details">Y- C Lai, <strong><u>Z Liu</u></strong>, I A Chen 
                        <br>Journal of the American Chemical Society 143 (30), 11836-11842</span>
                        <span class="details">
                            <a href="/publications/2021 Lai et al PNAS.pdf">PDF</a> | 
                            <a href="https://www.pnas.org/doi/abs/10.1073/pnas.2025054118">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Prebiotic photoredox synthesis from carbon dioxide and sulfite</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, L F Wu, C Kufner, D D Sasselov, W W Fischer, J D Sutherland 
                        <br>Nature Chemistry 13 (11), 1126-1132</span>
                        <span class="details">
                            <a href="/publications/2021 Nat Chem.pdf">PDF</a> | 
                            <a href="https://www.nature.com/articles/s41557-021-00789-w">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">pH-Dependent peptide bond formation by the selective coupling of &alpha;-amino acids in water</span>
                        <span class="details">L F Wu, <strong><u>Z Liu</u></strong>, J D Sutherland 
                        <br>Chemical Communications 57 (1), 73-76</span>
                        <span class="details">
                            <a href="/publications/2021 Wu et al ChemCommun.pdf">PDF</a> | 
                            <a href="https://pubs.rsc.org/en/content/articlelanding/2021/cc/d0cc06042a">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Harnessing chemical energy for the activation and joining of prebiotic building blocks</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, L F Wu, J Xu, C Bonfio, D A Russell, J D Sutherland
                        <br>Nature chemistry 12 (11), 1023-1028</span>
                        <span class="details">
                            <a href="/publications/2020 Nat Chem.pdf">PDF</a> | 
                            <a href="https://www.nature.com/articles/s41557-020-00564-3">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Synthesis of Prebiotic Building Blocks by Photochemistry</span>
                        <span class="details"><strong>Z Liu*</strong>
                        <br>Chemical Research in Chinese Universities 36 (6), 985-991</span>
                        <span class="details">
                            <a href="/publications/2020 CRCU.pdf">PDF</a> | 
                            <a href="https://link.springer.com/article/10.1007/s40242-020-0289-6">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Photoredox chemistry in the synthesis of 2-aminoazoles implicated in prebiotic nucleic acid synthesis</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, L F Wu, A D Bond, J D Sutherland
                        <br>Chemical Communications 56 (88), 13563-13566</span>
                        <span class="details">
                            <a href="/publications/2020 Chem Commun.pdf">PDF</a> | 
                            <a href="https://pubs.rsc.org/en/content/articlelanding/2020/cc/d0cc05752e">Web</a>
                        </span>
                    </div>
                </li>
                </div>
                <div class="year-separator collapsed-header" data-year="publications-2015-2019">2015-2019</div>
                <div class="publication-group collapsed" id="publications-2015-2019">       
            
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">The chemical likelihood of ribonucleotide-&alpha;-amino acid copolymers as players for early stages of evolution</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, G Ajram, J C Rossi, R Pascal
                        <br>Chemical Communications 56 (88), 13563-13566</span>
                        <span class="details">
                            <a href="/publications/2020 Chem Commun.pdf">PDF</a> | 
                            <a href="https://pubs.rsc.org/en/content/articlelanding/2020/cc/d0cc05752e">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Mapping a systematic ribozyme fitness landscape reveals a frustrated evolutionary network for self-aminoacylating RNA</span>
                        <span class="details">A D Pressman, <strong><u>Z Liu</u></strong>, E Janzen, C Blanco, U F Müller, G F Joyce, R Pascal, I A Chen
                        <br>Journal of the American Chemical Society 141 (15), 6213-6223</span>
                        <span class="details">
                            <a href="/publications/2019 Pressman et al JACS.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/full/10.1021/jacs.8b13298">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">How prebiotic chemistry and early life chose phosphate</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, J C Rossi, R Pascal
                        <br>Life 9 (1), 26</span>
                        <span class="details">
                            <a href="/publications/2019 Life-Basel.pdf">PDF</a> | 
                            <a href="https://www.mdpi.com/2075-1729/9/1/26">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Tuning the reactivity of nitriles using Cu (II) catalysis-potentially prebiotic activation of nucleotides</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, A Mariani, L Wu, D Ritson, A Folli, D Murphy, J D Sutherland
                        <br>Chemical science 9 (35), 7053-7057</span>
                        <span class="details">
                            <a href="/publications/2018 Chem Sci.pdf">PDF</a> | 
                            <a href="https://pubs.rsc.org/en/content/articlelanding/2018/sc/c8sc02513d">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">5 (4H)-Oxazolones as effective aminoacylation reagents for the 3&prime;-terminus of RNA</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, C Hanson, G Ajram, L Boiteau, J C Rossi, G Danger, R Pascal
                        <br>Synlett 28 (01), 73-77</span>
                        <span class="details">
                            <a href="/publications/2017 Synlett.pdf">PDF</a> | 
                            <a href="https://www.thieme-connect.com/products/ejournals/abstract/10.1055/s-0036-1588647">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Mixed Anhydride Intermediates in the Reaction of 5 (4H)-Oxazolones with Phosphate Esters and Nucleotides</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, L Rigger, J C Rossi, J D Sutherland, R Pascal
                        <br>Chemistry-A European Journal 22 (42), 14940-14949</span>
                        <span class="details">
                            <a href="/publications/2016 Chem Eur J.pdf">PDF</a> | 
                            <a href="https://chemistry-europe.onlinelibrary.wiley.com/doi/full/10.1002/chem.201602697">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">The activation of free dipeptides promoted by strong activating agents in water does not yield diketopiperazines</span>
                        <span class="details">D Beaufils, S Jepaul, <strong><u>Z Liu</u></strong>, L Boiteau, R Pascal
                        <br>Origins of Life and Evolution of Biospheres 46 (1), 19-30</span>
                        <span class="details">
                            <a href="/publications/2016 Deaufils et al.pdf">PDF</a> | 
                            <a href="https://link.springer.com/article/10.1007/s11084-015-9455-0">Web</a>
                        </span>
                    </div>
                </li>
                </div>
                <div class="year-separator collapsed-header" data-year="publications-2010-2014">2010-2014</div>
                <div class="publication-group collapsed" id="publications-2010-2014">       
                
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Evolutionary importance of the intramolecular pathways of hydrolysis of phosphate ester mixed anhydrides with amino acids and peptides</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, D Beaufils, J C Rossi, R Pascal
                        <br>Scientific reports 4 (1), 7440</span>
                        <span class="details">
                            <a href="/publications/2014 Sci Rep.pdf">PDF</a> | 
                            <a href="https://www.nature.com/articles/srep07440">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">A Top-Down Route for Preparation of Ultrathin Zinc Oxide Nanowires</span>
                        <span class="details">S Zhu, M Yang, <strong><u>Z Liu</u></strong>, S Jiao, G Pang, S Feng
                        <br>Journal of Nanoscience and Nanotechnology 14 (8), 6342-6346</span>
                        <span class="details">
                            <a href="/publications/2014 Zhu et al JNN.pdf">PDF</a> | 
                            <a href="https://www.ingentaconnect.com/contentone/asp/jnn/2014/00000014/00000008/art00141">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">The oxidation of the alpha-carbon of amines in hydrothermal condition: an alternative synthetic route of compounds containing amide bond</span>
                        <span class="details">X Bai, <strong><u>Z Liu</u></strong>, K Ye, Y Wang, X Zhang, H Yue, G Tian, S Feng
                        <br>Tetrahedron Letters 55 (2), 319-321</span>
                        <span class="details">
                            <a href="/publications/2014 Bai et al.pdf">PDF</a> | 
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0040403913019412">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">High adsorption capacity for dye removal by CuZn hydroxyl double salts</span>
                        <span class="details">S Zhu, S Jiao, <strong><u>Z Liu</u></strong>, G Pang, S Feng
                        <br>Environmental science: nano 1 (2), 172-180</span>
                        <span class="details">
                            <a href="/publications/2014 Zhu et al  Environ Sci Nano.pdf">PDF</a> | 
                            <a href="https://pubs.rsc.org/en/content/articlelanding/2014/en/c3en00078h">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Hydrothermal synthesis of 1-butanol from ethanol catalyzed with commercial cobalt powder</span>
                        <span class="details">X Zhang, <strong><u>Z Liu</u></strong>, X Xu, H Yue, G Tian, S Feng
                        <br>ACS Sustainable Chemistry & Engineering 1 (12), 1493-1497</span>
                        <span class="details">
                            <a href="/publications/2013 Zhang et al.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/abs/10.1021/sc400245s">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Ready hydrothermal reactions from carbon dioxide to methane</span>
                        <span class="details"><strong><u>Z Liu</u></strong>, G Tian, S Zhu, C He, H Yue, S Feng
                        <br>ACS Sustainable Chemistry & Engineering 1 (3), 313-315</span>
                        <span class="details">
                            <a href="/publications/2013 ACS Sus.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/abs/10.1021/sc3001146">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Some heterocyclic compound formation under hydrothermal conditions: implications for prebiotic chemistry</span>
                        <span class="details">C He, B Hu, <strong><u>Z Liu</u></strong>, Y Wang, B Lv, H Yuan, G Tian, S Feng
                        <br>Heterocyclic Communications 18 (1)</span>
                        <span class="details">
                            <a href="/publications/2012 He et al.pdf">PDF</a> | 
                            <a href="https://www.degruyterbrill.com/document/doi/10.1515/hc-2011-0054/html?srsltid=AfmBOooTb-30INYATB8ZGsG4I73YgHSgb48scUZnypAt114LfNTqkVHA">Web</a>
                        </span>
                    </div>
                </li>
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">Hydrothermal reactions from carbon dioxide to phenol</span>
                        <span class="details">G Tian, C He, Y Chen, H M Yuan, <strong><u>Z Liu</u></strong>, Z Shi, SH Feng 
                        <br>ChemSusChem: Chemistry & Sustainability Energy & Materials 3 (3), 323-324</span>
                        <span class="details">
                            <a href="/publications/2010 Tian et al.pdf">PDF</a> | 
                            <a href="https://chemistry-europe.onlinelibrary.wiley.com/doi/abs/10.1002/cssc.200900274">Web</a>
                        </span>
                    </div>
                </li>
                
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">A novel synthetic route to synthesize 2, 4, 8, 10-tetraoxaspiro [5.5]-undecane from formaldehyde under hydrothermal conditions</span>
                        <span class="details">G Maheen, G Tian, Z Song, C He, Z Shi, <strong><u>Z Liu</u></strong>, H Yuan, S Feng 
                        <br>ChemSusChem: Chemistry & Sustainability Energy & Materials 3 (3), 323-324</span>
                        <span class="details">
                            <a href="/publications/2010 Gull et al.pdf">PDF</a> | 
                            <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/jhet.348">Web</a>
                        </span>
                    </div>
                </li>
                
                <li>
                    <span class="list-number"></span>
                    <div class="publication-content">
                        <span class="title">A mild hydrothermal route to fix carbon dioxide to simple carboxylic acids</span>
                        <span class="details">C He, G Tian, <strong><u>Z Liu</u></strong>, S Feng 
                        <br>Organic letters 12 (4), 649-651</span>
                        <span class="details">
                            <a href="/publications/2010 He et al.pdf">PDF</a> | 
                            <a href="https://pubs.acs.org/doi/abs/10.1021/ol9025414">Web</a>
                        </span>
                    </div>
                </li>
                </div>


            </ul>
     

            <hr>
            <div id="footnote-placeholder"></div>
        </div>
        
    </div>
<script src="/layouts/loader.js"></script> 
</body>
</html>
