

<h2>Navigation / Quick Links</h2>
<ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="./projects.html">Projects</a></li> -->
    <li><a href="/layouts/publications.html">Publications</a></li>
    <!-- <li><a href="./contact.html">Contact</a></li> -->
    <li><a href="https://scholar.google.com/citations?user=kaGmXKAAAAAJ&hl=en">Google Scholar</a></li>
    <li><a href="https://orcid.org/0000-0002-1812-2538">ORCID</a></li>
    <li><a href="https://www.simonsfoundation.org/people/ziwei-liu/">Simons Foundation</a></li>
</ul>

<hr>

<h2>Personal Information & Contact</h2>

<h3>Contact Details</h3>
<ul>
    <li><strong>Email:</strong> <a href="mailto:zwl25@cam.ac.uk">zwl25@cam.ac.uk</a></li>
    <li><strong>Location:</strong> Department of Earth Sciences,
        University of Cambridge, Cambridge, CB2 3EQ, UK</li>
    <!-- <li><strong>Phone:</strong> [+1 (555) 123-4567] (Optional)</li> -->
</ul>

<!-- <h3>About Me</h3>
<ul>
    <li><strong>Interests:</strong> [Hobby 1], [Hobby 2], [Hobby 3]</li>
    <li><strong>Education:</strong> [Your Degree] from [University Name]</li>
</ul>

<h3>Connect Online</h3>
<ul>
    <li><strong>Twitter:</strong> <a href="https://twitter.com/YourHandle">@YourHandle</a></li>
    <li><strong>Stack Overflow:</strong> [Profile Link]</li>
    <li><strong>Personal Blog:</strong> [Blog URL]</li>
</ul> -->

